@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.App {
    color: white;
    background-image: url(../resources/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding: 20px 20px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10%;
}

nav > .title {
    font-size: 1.3rem;
}

.home-nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

nav a:hover:not(.title), nav a.active {
    text-decoration: underline;
}

.content {
    padding: 12% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

.desc {
    font-size: 20px;
}

.btn {
    border-radius: 8px;
}

/* ------------------------- DISCOVER ------------------------- */
.discover-btn {
    color: inherit;
    background-color: transparent;
    
    border: 2px solid white;
    padding: 16px 32px;

    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.discover-btn:hover {
    background-color: white;
    color: black;
}

.cart-btn {
    border: none;
    background-color: transparent;
    font-size: inherit;
}

.page-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.page {
    padding-bottom: 1rem;
}

section {
    padding: 0 10%;
}

section > h2 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

/* ---------------------- STORE ---------------------- */
.sticky {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #242424;
}

.search-bar, .category-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar > input, .category-bar > select {
    border: 3px solid #4E4E4E;
    background-color: #181818;
    height: 25px;
}

.category-bar > select {
    width: 150px;
    font-size: 1rem;
}

@media screen and (max-width: 786px) {
    section {
        padding: 0 25px;
    }
}