@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body, #root, .App {
    height: 100%;
}

.App {
    backdrop-filter: brightness(80%);
}

nav {
    padding: 20px 20px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10%;
}

nav > .title {
    font-size: 1.3rem;
}

.home-nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

nav a:hover:not(.title), nav a.active {
    text-decoration: underline;
}

.content {
    padding: 12% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

.desc {
    font-size: 20px;
}

.btn {
    border-radius: 8px;
}

/* ------------------------- DISCOVER ------------------------- */
.discover-btn {
    color: inherit;
    background-color: transparent;
    
    border: 2px solid white;
    padding: 16px 32px;

    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.discover-btn:hover {
    background-color: white;
    color: black;
}

.page-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.page {
    background-color: #121212;
    padding-bottom: 1rem;
}

section {
    padding: 0 10%;
    margin: 10px 0;
}

section > h2 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    section {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 786px) {
    section {
        padding: 0 25px;
    }
}

/* ---------------------- STORE ---------------------- */
.sticky {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-bar, .category-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.search-bar > input, .category-bar > select {
    border: 3px solid #4E4E4E;
    background-color: #181818;
    height: 25px;
}

.category-bar > select {
    width: 150px;
}

@media screen and (max-width: 600px) {
    .search-bar, .category-bar {
        flex-direction: column;
    }

    .category-bar option {
        width: 150px;
        font-size: smaller;
    }
}
