.backdrop {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(33, 33, 33, 0.55);
    display: flex;
    justify-content: flex-end;
}

.cart {
    position: fixed;
    color: white;
    background-color: #3F3F3F;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.cart h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.cart .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-cart-btn {
    background-color: transparent;
    border: none;
}

.cart .body {
    padding: 10px;
}

.cart-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.cart-item {
    width: 100%;
    background-color: #4F4F4F;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-item .info {
    display: flex;
    gap: 10px;
}

.cart-item .controls {
    display: flex;
    gap: 2px;
}

.cart-item .controls button {
    min-height: 2rem;
    flex: 1 1 0;
    border: none;
    background-color: #242323;
    font-size: 2.2rem;
}

.cart .total {
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 190, 190);
    padding: 15px;
    font-size: larger;
    color: black;
}

.cart-item .price {
    flex-grow: 1;
    text-align: right;
}

.checkout-btn {
    width: 100%;
    background-color: #242323;
    color: white;
    padding: 15px;
    border: none;
    font-size: large;
}

.checkout-btn:hover {
    background-color: #181717;
}

.checkout-btn:active {
    background-color: black;
}

@media screen and (max-width: 600px) {
    .cart {
        max-width: 100%;
    }
}