.featured {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.featured-items {
    position: relative;
    width: min(90%, 600px);
}

.featured-items .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.431);
    position: absolute;
}

.featured-img {
    width: 100%;
    height: auto;
}

.btn-control {
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 30px);
}

.btn-control.left {
    left: 10px;
}

.btn-control.right {
    right: 10px;
}